{% extends "_base_.html" %}
{% load static %}
{% load dict_utils %}

{% block content_head %}
  <link rel="stylesheet" href="{% static 'css/game_field.css' %}">
{% endblock %}

{% block content %}

<!-- Control Buttons -->
<div class="playing-buttons">
  <div class="d-flex justify-content-center mt-3 gap-3">
    <button id="chooseCardBtn" class="btn btn-primary btn-sm">
      Choose your card to play
    </button>
  </div>
</div>

<hr>

<!-- Game Field -->
<div class="playing-field position-relative alert alert-success">

  <!-- Left-side Team B Buttons -->
  <div class="team-buttons team-b-buttons">
    {% for i in "1,2,3,4"|cut:"," %}
      <img
        src="{% static 'pics/play_field/Team_A_'|add:i|add:'.png' %}"
        class="team-button-img"
        data-team="A"
        data-index="{{ i }}">
    {% endfor %}
  </div>

  <!-- Right-side Team A Buttons -->
  <div class="team-buttons team-a-buttons">
    {% for i in "4,3,2,1"|cut:"," %}
      <img
        src="{% static 'pics/play_field/Team_B_'|add:i|add:'.png' %}"
        class="team-button-img"
        data-team="B"
        data-index="{{ i }}">
    {% endfor %}
  </div>

  <!-- Center Game Image & Modal -->
  <div class="d-flex justify-content-center align-items-center">
    <div class="image-wrapper position-relative" id="imageWrapper">
      <img
        src="{% static 'pics/_dc_playf_2.1.png' %}"
        id="gameImage"
        alt="Game Background">

      

      <!-- Player Info Modal -->
      <div class="modal fade" id="playerModal" tabindex="-1" aria-labelledby="playerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header">
              <h5 class="modal-title" id="playerModalLabel">Player Info</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{{ cards|json_script:"cards-data" }}

<!-- Static Prefix Script -->
<script>const staticPrefix = "{% static '' %}";</script>

<script id="staticPrefix" type="text/plain">{% static '' %}</script>


<script>
  const matchId = "{{ match_id }}";  // Injected from Django

</script>


<!-- JS -->
<script src="{% static 'javascript/game_field.js' %}"></script>





{% endblock %}
