{% extends "_base_.html" %}
{% load static %}

{% block content_head %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}
  <div class="text-center mt-5">
    <a href="{% url 'players:user_cards' %}" class="btn btn-primary btn-lg">View Cards</a>
  </div>
  <a href="{% url 'game' %}" class="hidden-ball-button"></a>
{% endblock %}
