{% extends "_base_.html" %}
{% load static %}

{% block content_head %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">My Cards</h2>
    
    {% if cards %}
        <div class="d-flex flex-wrap">
            {% for card in cards %}
                <div class="card text-dark bg-light" style="width: 18rem; margin: 10px;">
                    <!--img src="{{ card.picture_url }}" class="card-img-top" alt="{{ card.name }}"-->
                    <div class="card-header text-center alert alert-success">
                        <div class="alert alert-primary">{{ card.name }}</div>  
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Type:</strong> {{ card.type|title }}</p>
                        <p class="card-text"><strong>Role:</strong> {{ card.prop_1 }}</p>
                        
                        <p class="card-text"><strong>Description:</strong> {{ card.description }}</p>
                    </div>
                    <div class="card-footer text-center alert alert-warning">
                        <p class="card-text"><strong>Points:</strong> {{ card.points }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You don't have any cards yet.</p>
    {% endif %}
</div>
{% endblock %}